{% extends "base.html" %}

{% load static %}

{% block title %}
AMS Hub - Meu Portfólio
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{% static 'aluno/meusportifoliosa.css' %}">
{% endblock %}


{% block menu %}

<ul>

    <li>
        <a href="{% url 'aluno' %}">
            <i class="fa-solid fa-house"></i>
            <span>Início</span>
        </a>
    </li>

    <li>
        <a href="{% url 'minhasmentoriasa' %}">
            <i class="fa-solid fa-users"></i>
            <span>Mentorias</span>
        </a>
    </li>

    <li class="active">
        <a href="{% url 'meusportifoliosa' %}">
            <i class="fa-solid fa-folder-open"></i>
            <span>Portfólios</span>
        </a>
    </li>

    <li>
        <i class="fa-solid fa-list-check"></i>
        <span>Atividades</span>
    </li>

    <li>
        <i class="fa-solid fa-award"></i>
        <span>Certificados</span>
    </li>

    <li>
        <i class="fa-solid fa-circle-exclamation"></i>
        <span>Pendências</span>
    </li>

</ul>

{% endblock %}


{% block saudacao %}
Meu Portfólio
{% endblock %}


{% block descricao %}
Visualize seu portfólio, suas versões e os comentários recebidos.
{% endblock %}


{% block perfil %}

<div class="perfil">

    <img src="{% static 'imagens/aluno.png' %}" alt="Aluno">

    <div>
        <strong>{{ nome_usuario }}</strong>
        <small>Aluno</small>
    </div>

</div>

{% endblock %}


{% block content %}

<div class="portfolio-container">


    <!-- PORTFÓLIO PRINCIPAL -->

    <section class="portfolio-principal">

        <div class="portfolio-topo">

            <div class="portfolio-icone">
                <i class="fa-solid fa-folder-open"></i>
            </div>

            <div class="portfolio-titulo">

                <span class="status">
                    <i class="fa-solid fa-clock"></i>
                    Em avaliação
                </span>

                <h2>Meu Portfólio Profissional</h2>

                <p>
                    Portfólio com meus projetos, atividades e experiências
                    desenvolvidas durante o curso.
                </p>

            </div>

        </div>


        <div class="portfolio-informacoes">

            <div class="info-item">

                <span>Última atualização</span>

                <strong>05/09/2026</strong>

            </div>


            <div class="info-item">

                <span>Versões enviadas</span>

                <strong>3 versões</strong>

            </div>


            <div class="info-item">

                <span>Status</span>

                <strong>Em avaliação</strong>

            </div>

        </div>

    </section>



    <!-- LINK DO PORTFÓLIO -->

    <section class="portfolio-link">

        <h2>Link do Portfólio</h2>

        <p>
            Link disponibilizado para acesso ao seu portfólio.
        </p>


        <div class="link-box">

            <i class="fa-solid fa-link"></i>

            <a href="https://canva.link/6axaqnl8duhzo53" target="_blank">
                https://canva.link/6axaqnl8duhzo53
            </a>

        </div>


        <a href="#" target="_blank" class="btn-abrir">

            <i class="fa-solid fa-arrow-up-right-from-square"></i>

            Abrir portfólio

        </a>

    </section>



    <!-- VERSÕES PDF -->

    <section class="versoes-pdf">

        <h2>Versões em PDF</h2>

        <p>
            Histórico dos arquivos enviados.
        </p>


        <div class="pdf-lista">


            <div class="pdf-item">

                <div class="pdf-icone">
                    <i class="fa-solid fa-file-pdf"></i>
                </div>


                <div class="pdf-info">

                    <strong>
                        Portfólio - Versão 3.pdf
                    </strong>

                    <small>
                        Enviado em 05/09/2026 • Versão atual
                    </small>

                </div>


                <a href="#" class="btn-pdf">

                    <i class="fa-solid fa-eye"></i>

                    Visualizar

                </a>

            </div>



            <div class="pdf-item">

                <div class="pdf-icone">
                    <i class="fa-solid fa-file-pdf"></i>
                </div>


                <div class="pdf-info">

                    <strong>
                        Portfólio - Versão 2.pdf
                    </strong>

                    <small>
                        Enviado em 20/08/2026
                    </small>

                </div>


                <a href="#" class="btn-pdf">

                    <i class="fa-solid fa-eye"></i>

                    Visualizar

                </a>

            </div>



            <div class="pdf-item">

                <div class="pdf-icone">
                    <i class="fa-solid fa-file-pdf"></i>
                </div>


                <div class="pdf-info">

                    <strong>
                        Portfólio - Versão 1.pdf
                    </strong>

                    <small>
                        Enviado em 10/07/2026
                    </small>

                </div>


                <a href="#" class="btn-pdf">

                    <i class="fa-solid fa-eye"></i>

                    Visualizar

                </a>

            </div>

        </div>

    </section>



    <!-- COMENTÁRIOS -->

    <section class="comentarios">

        <h2>Comentários sobre o Portfólio</h2>

        <p>
            Feedback recebido dos responsáveis pela avaliação.
        </p>


        <div class="comentario">

            <strong>
                Professor responsável
            </strong>

            <p>
                Seu portfólio está bem organizado. Continue adicionando
                projetos e atividades desenvolvidas durante o curso.
            </p>

        </div>

    </section>


</div>

{% endblock %}