{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AMS - Aluno</title>

    <link rel="stylesheet" href="{% static 'Aluno.css' %}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

</head>

<body>

<div class="container">


    <aside class="sidebar">

        <div class="logo">

            <img src="{% static 'imagens/logoaluno.png' %}" alt="Logo">

            <h2>ALUNO</h2>

        </div>

        <nav>

            <ul>

                <li class="active">

                    <i class="fa-solid fa-house"></i>

                    <span>Início</span>

                </li>

                <li>

                    <i class="fa-solid fa-users"></i>

                    <span>Mentorias</span>

                </li>

                <li>

                    <i class="fa-solid fa-folder-open"></i>

                    <span>Portfólios</span>

                </li>

                <li>

                    <i class="fa-solid fa-list-check"></i>

                    <span>Atividades</span>

                </li>

                <li>

                    <i class="fa-solid fa-award"></i>

                    <span>Certificados</span>

                </li>

                <li>

                    <i class="fa-solid fa-circle-exclamation"></i>

                    <span>Pendências</span>

                </li>

            </ul>

        </nav>

        <div class="bottom-menu">

            <a href="#"><i class="fa-solid fa-bell"></i> Notificações</a>

            <a href="#"><i class="fa-solid fa-gear"></i> Configurações</a>

        </div>

    </aside>

    <main>

        <header>

            <div>

                <h1>Olá, Manuela!</h1>

                <p>Aqui você encontra tudo sobre seus portfólios.</p>

            </div>

            <div class="header-right">

                <div class="search">

                    <i class="fa-solid fa-magnifying-glass"></i>

                    <input type="text" placeholder="Pesquisar">

                </div>

                <i class="fa-solid fa-filter"></i>

                <i class="fa-solid fa-bell"></i>

                <div class="perfil">

                    <img src="{% static 'imagens/aluno.png' %}" alt="Aluno">

                    <div>

                        <strong>Manuela</strong>

                        <small>Aluno</small>

                    </div>

                </div>

            </div>

        </header>
        <section class="cards">

            <div class="card">

                <i class="fa-solid fa-award"></i>

                <div>

                    <span>Certificados</span>

                    <h2>2</h2>

                    <p>A serem aprovados</p>

                </div>

            </div>

            <div class="card">

                <i class="fa-regular fa-clock"></i>

                <div>

                    <span>Pendências</span>

                    <h2>93H</h2>

                    <p>A serem resolvidas</p>

                </div>

            </div>

            <div class="card">

                <i class="fa-solid fa-file-circle-check"></i>

                <div>

                    <span>Atividades</span>

                    <h2>4</h2>

                    <p>Este mês</p>

                </div>

            </div>

            <div class="card">

                <i class="fa-regular fa-clock"></i>

                <div>

                    <span>Horas Registradas</span>

                    <h2>127H</h2>

                    <p>No total</p>

                </div>

            </div>

        </section>

        <section class="content">

            <div class="atividades">

                <h2>Últimas Realizações</h2>

                <ul>

                    <li>📘 Mentoria - 27/05 <span>29/05</span></li>

                    <li>📘 Atividade - 13/05 <span>17/05</span></li>

                    <li>📕 Palestra - 29/04 <span>01/05</span></li>

                    <li>📘 Mentoria - 14/04 <span>14/04</span></li>

                    <li>📘 Atividade - 03/03 <span>08/03</span></li>

                </ul>

            </div>

            <div class="grafico">

                <h2>Horas Complementares</h2>

                <canvas id="graficoHoras"></canvas>

            </div>

        </section>

    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{% static 'dashboard.js' %}"></script>

</body>

</html>