{% extends "gestao.html" %}
{% load static %}


{% block title %}
AMS Hub - Coordenador
{% endblock %}


{% block menu %}

<ul>

    <li class="active">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
    </li>

    <li>
        <i class="fa-solid fa-user-graduate"></i>
        <span>Gerenciar Alunos</span>
    </li>

    <li>
        <a href="{% url 'empresasgestao' %}">
    
            <i class="fa-solid fa-building"></i>
    
            <span>Empresas</span>
    
        </a>
    </li>
    <li>
        <a href="{% url 'mentoriasgestao' %}">
    
            <i class="fa-solid fa-users"></i>
    
            <span>Gerenciar Mentorias</span>
    
        </a>
    </li>

    <li>
        <a href="{% url 'relatoriosgestao' %}">
    
            <i class="fa-solid fa-chart-line"></i>
    
            <span>Relatórios</span>
    
        </a>
    </li>

    <li>
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Sair</span>
    </li>

</ul>

{% endblock %}


{% block saudacao %}
Olá, {{ nome_usuario }}!
{% endblock %}


{% block descricao %}
Gerencie alunos, empresas, mentorias e acompanhe os relatórios do programa.
{% endblock %}


{% block perfil %}

<div class="perfil">

    <img src="{% static 'imagens/professor.png.png' %}"
         alt="Coordenador">

    <div>

        <strong>{{ nome_usuario }}</strong>

        <small>Coordenador</small>

    </div>

</div>

{% endblock %}


{% block conteudo_especifico %}

<section class="gestao-box mb-4">

    <div class="gestao-title">

        <div>

            <h2>Gerenciar Alunos</h2>

            <p>
                Acompanhe e gerencie os alunos cadastrados no AMS.
            </p>

        </div>

        <a href="#">
            Ver todos
        </a>

    </div>

    <div class="relatorios-grid">

        <div class="relatorio-item">

            <div class="item-icon">
                <i class="fa-solid fa-user-graduate"></i>
            </div>

            <div class="item-info">

                <strong>124 alunos cadastrados</strong>

                <span>
                    Consulte informações e situação dos alunos.
                </span>

            </div>

            <i class="fa-solid fa-chevron-right seta"></i>

        </div>


        <div class="relatorio-item">

            <div class="item-icon">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>

            <div class="item-info">

                <strong>Alunos com pendências</strong>

                <span>
                    Consulte alunos que precisam de acompanhamento.
                </span>

            </div>

            <i class="fa-solid fa-chevron-right seta"></i>

        </div>

    </div>

</section>

{% endblock %}