{% extends "gestao.html" %}
{% load static %}


{% block title %}
AMS Hub - Empresas
{% endblock %}


{% block css_gestao %}
<link rel="stylesheet" href="{% static 'gestaopaginas.css' %}">
{% endblock %}


{% block saudacao %}
Empresas
{% endblock %}


{% block descricao %}
Consulte as empresas parceiras do programa AMS.
{% endblock %}


{% block content %}

<section class="pagina-gestao">


    <!-- CABEÇALHO -->

    <div class="pagina-topo">

        <div>

            <h2>Empresas Parceiras</h2>

            <p>
                Consulte as empresas vinculadas ao programa.
            </p>

        </div>


        {% if cargo_usuario == "Coordenador" %}

        <a href="#" class="btn-principal">

            <i class="fa-solid fa-plus"></i>

            Nova Empresa

        </a>

        {% endif %}

    </div>


    <!-- FILTROS -->

    <div class="filtros-gestao">

        <div class="pesquisa-gestao">

            <i class="fa-solid fa-magnifying-glass"></i>

            <input
                type="text"
                placeholder="Pesquisar empresa..."
            >

        </div>


        <select>

            <option value="">
                Todas as empresas
            </option>

            <option>Ativas</option>
            <option>Inativas</option>

        </select>

    </div>


    <!-- EMPRESAS -->

    <div class="lista-gestao">


        <!-- IBM -->

        <div class="item-card">

            <div class="item-card-topo">

                <div class="item-card-icon">

                    <i class="fa-solid fa-building"></i>

                </div>

                <span class="status status-concluido">
                    Ativa
                </span>

            </div>


            <div class="item-card-conteudo">

                <h3>IBM</h3>

                <p>
                    Empresa parceira do programa AMS.
                </p>


                <div class="informacoes">

                    <span>

                        <i class="fa-solid fa-users"></i>

                        18 alunos

                    </span>


                    <span>

                        <i class="fa-solid fa-chalkboard-user"></i>

                        5 mentorias

                    </span>

                </div>

            </div>


            <div class="item-card-acoes">

                <a href="#" class="btn-secundario">

                    <i class="fa-regular fa-eye"></i>

                    Ver detalhes

                </a>


                {% if cargo_usuario == "Coordenador" %}

                <a href="#" class="btn-editar">

                    <i class="fa-solid fa-pen"></i>

                    Editar

                </a>

                {% endif %}

            </div>

        </div>


        <!-- TAB -->

        <div class="item-card">

            <div class="item-card-topo">

                <div class="item-card-icon">

                    <i class="fa-solid fa-building"></i>

                </div>

                <span class="status status-concluido">
                    Ativa
                </span>

            </div>


            <div class="item-card-conteudo">

                <h3>TAB</h3>

                <p>
                    Empresa parceira do programa AMS.
                </p>


                <div class="informacoes">

                    <span>

                        <i class="fa-solid fa-users"></i>

                        12 alunos

                    </span>


                    <span>

                        <i class="fa-solid fa-chalkboard-user"></i>

                        4 mentorias

                    </span>

                </div>

            </div>


            <div class="item-card-acoes">

                <a href="#" class="btn-secundario">

                    <i class="fa-regular fa-eye"></i>

                    Ver detalhes

                </a>


                {% if cargo_usuario == "Coordenador" %}

                <a href="#" class="btn-editar">

                    <i class="fa-solid fa-pen"></i>

                    Editar

                </a>

                {% endif %}

            </div>

        </div>


        <!-- DEVCOOL -->

        <div class="item-card">

            <div class="item-card-topo">

                <div class="item-card-icon">

                    <i class="fa-solid fa-building"></i>

                </div>

                <span class="status status-concluido">
                    Ativa
                </span>

            </div>


            <div class="item-card-conteudo">

                <h3>DevCool</h3>

                <p>
                    Empresa parceira do programa AMS.
                </p>


                <div class="informacoes">

                    <span>

                        <i class="fa-solid fa-users"></i>

                        9 alunos

                    </span>


                    <span>

                        <i class="fa-solid fa-chalkboard-user"></i>

                        3 mentorias

                    </span>

                </div>

            </div>


            <div class="item-card-acoes">

                <a href="#" class="btn-secundario">

                    <i class="fa-regular fa-eye"></i>

                    Ver detalhes

                </a>


                {% if cargo_usuario == "Coordenador" %}

                <a href="#" class="btn-editar">

                    <i class="fa-solid fa-pen"></i>

                    Editar

                </a>

                {% endif %}

            </div>

        </div>

    </div>

</section>

{% endblock %}