{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="whidt=device-whidt, initial-scale=1.0">
    <title>Login - Professor</title>
<link rel="stylesheet" href="{% static 'loginProfessor.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/front-awesome/6.5.2/css/all.min.css">

</head>
<body>

<div class="container">
    <div class="lado-esquerdo">
        <img src="/static/imagens/logoprofessor.png" class="logo" alt="Logo">
        <img src="/static/imagens/professor.png.png" class="astronauta" alt="Astronauta">
    </div>
    <div class="lado-direito">
        <div class="card-login">
            <h1>Professores</h1>
            <div class="icone">
                <i class="fa-solid fa-user"></i>
            </div>
            <form method="POST">
                {% csrf_token %}
        
                <input type="text" name="username" placeholder="Usuário" required>
                <input type="password" name="senha" placeholder="Senha" required>
        
                <button type="submit">Entrar</button>
            </form>
            {% if erro %}
                <p>{{ erro }}</p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>