{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS Hub | Professor</title>

    <link rel="stylesheet" href="{% static 'Professor.css' %}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

<div class="dashboard">

    <aside class="sidebar">

        <div class="logo">
            <img src="{% static 'imagens/logo.png' %}" alt="">
            <h2>AMS HUB</h2>
        </div>

        <ul>

            <li class="active">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </li>

            <li>
                <i class="fa-solid fa-folder-open"></i>
                Portfólios
            </li>

            <li>
                <i class="fa-solid fa-star"></i>
                Avaliações
            </li>

            <li>
                <i class="fa-solid fa-users"></i>
                Mentorias
            </li>

            <li>
                <i class="fa-solid fa-calendar"></i>
                Agenda
            </li>

            <li>
                <i class="fa-solid fa-right-from-bracket"></i>
                Sair
            </li>

        </ul>

    </aside>

    <main>

        <header>

            <div>

                <h1>Olá, Professora Laura </h1>

                <p>Bem-vinda ao painel do professor.</p>

            </div>

            <div class="top">

                <div class="search">

                    <i class="fa-solid fa-magnifying-glass"></i>

                    <input type="text" placeholder="Pesquisar">

                </div>

                <i class="fa-regular fa-bell"></i>

                <img src="{% static 'imagens/professor.png.png' %}" class="foto">

            </div>

        </header>

        <section class="cards">

            <div class="card">

                <div class="icone">
                    <i class="fa-solid fa-folder-open"></i>
                </div>

                <h3>Portfólios</h3>

                <h2>18</h2>

                <p>Pendentes para avaliação</p>

                <button>Visualizar →</button>

            </div>

            <div class="card">

                <div class="icone">
                    <i class="fa-solid fa-star"></i>
                </div>

                <h3>Avaliações</h3>

                <h2>26</h2>

                <p>Prontas para envio</p>

                <button>Avaliar →</button>

            </div>

            <div class="card">

                <div class="icone">
                    <i class="fa-solid fa-comments"></i>
                </div>

                <h3>Feedbacks</h3>

                <h2>41</h2>

                <p>Realizados este mês</p>

                <button>Consultar →</button>

            </div>

            <div class="card">

                <div class="icone">
                    <i class="fa-solid fa-user-group"></i>
                </div>

                <h3>Mentorias</h3>

                <h2>08</h2>

                <p>Agendadas</p>

                <button>Acompanhar →</button>

            </div>

        </section>

        <section class="grid">

            <div class="box">

                <div class="titulo">

                    <h2>Portfólios Recentes</h2>

                    <a href="#">Ver todos</a>

                </div>

                <div class="linha">
                    <div>
                        <h4>Lohanny Ayala</h4>
                        <span>Portfólio - Atualizar</span>
                    </div>

                    <button>Avaliar</button>

                </div>

                <div class="linha">
                    <div>
                        <h4>João Vitor Medeiros</h4>
                        <span>Portfólio - Atualizar</span>
                    </div>

                    <button>Avaliar</button>

                </div>

                <div class="linha">
                    <div>
                        <h4>Julia Castanheira</h4>
                        <span>Portfólio - Atualizar</span>
                    </div>

                    <button>Avaliar</button>

                </div>

            </div>

            <div class="box">

                <div class="titulo">

                    <h2>Próximas Mentorias</h2>

                </div>

                <div class="mentoria">

                    <strong>TAB - 3°DS</strong>

                    <span>10:00 às 11:30</span>

                </div>

                <div class="mentoria">

                    <strong>Ioship - AMS Geral</strong>

                    <span>14:00 às 15:30</span>

                </div>

                <div class="mentoria">

                    <strong>VIsita Tecnica 3°Anos</strong>

                    <span>19:00 às 20:30</span>

                </div>

            </div>

        </section>

    </main>

</div>

</body>
</html>