{% extends "base.html" %}

{% load static %}

{% block title %}
AMS Hub - Professor
{% endblock %}


{% block css %}

<link rel="stylesheet" href="{% static 'Professor.css' %}">

{% endblock %}


{% block menu %}

<ul>

    <li class="active">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
    </li>

    <li>
        <i class="fa-solid fa-folder-open"></i>
        <span>Portfólios</span>
    </li>

    <li>
        <i class="fa-solid fa-star"></i>
        <span>Avaliações</span>
    </li>

    <li>
        <i class="fa-solid fa-users"></i>
        <span>Mentorias</span>
    </li>

    <li>
        <i class="fa-solid fa-calendar"></i>
        <span>Agenda</span>
    </li>

    <li>
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Sair</span>
    </li>

</ul>

{% endblock %}


{% block saudacao %}

Olá, Professora Laura!

{% endblock %}


{% block descricao %}

Bem-vinda ao painel do professor.

{% endblock %}


{% block perfil %}

<div class="perfil">

    <img src="{% static 'imagens/professor.png.png' %}"
         alt="Professora">

    <div>

        <strong>Laura</strong>

        <small>Professor</small>

    </div>

</div>

{% endblock %}


{% block content %}

<section class="cards">

    <div class="card">

        <div class="icone">
            <i class="fa-solid fa-folder-open"></i>
        </div>

        <h3>Portfólios</h3>

        <h2>18</h2>

        <p>Pendentes para avaliação</p>

        <button>
            Visualizar →
        </button>

    </div>


    <div class="card">

        <div class="icone">
            <i class="fa-solid fa-star"></i>
        </div>

        <h3>Avaliações</h3>

        <h2>26</h2>

        <p>Prontas para envio</p>

        <button>
            Avaliar →
        </button>

    </div>


    <div class="card">

        <div class="icone">
            <i class="fa-solid fa-comments"></i>
        </div>

        <h3>Feedbacks</h3>

        <h2>41</h2>

        <p>Realizados este mês</p>

        <button>
            Consultar →
        </button>

    </div>


    <div class="card">

        <div class="icone">
            <i class="fa-solid fa-user-group"></i>
        </div>

        <h3>Mentorias</h3>

        <h2>08</h2>

        <p>Agendadas</p>

        <button>
            Acompanhar →
        </button>

    </div>

</section>


<section class="grid">

    <div class="box">

        <div class="titulo">

            <h2>Portfólios Recentes</h2>

            <a href="#">Ver todos</a>

        </div>


        <div class="linha">

            <div>

                <h4>Lohanny Ayala</h4>

                <span>
                    Portfólio - Atualizar
                </span>

            </div>

            <button>
                Avaliar
            </button>

        </div>


        <div class="linha">

            <div>

                <h4>João Vitor Medeiros</h4>

                <span>
                    Portfólio - Atualizar
                </span>

            </div>

            <button>
                Avaliar
            </button>

        </div>


        <div class="linha">

            <div>

                <h4>Julia Castanheira</h4>

                <span>
                    Portfólio - Atualizar
                </span>

            </div>

            <button>
                Avaliar
            </button>

        </div>

    </div>


    <div class="box">

        <div class="titulo">

            <h2>Próximas Mentorias</h2>

        </div>


        <div class="mentoria">

            <strong>TAB - 3°DS</strong>

            <span>
                10:00 às 11:30
            </span>

        </div>


        <div class="mentoria">

            <strong>Ioship - AMS Geral</strong>

            <span>
                14:00 às 15:30
            </span>

        </div>


        <div class="mentoria">

            <strong>Visita Técnica 3° Anos</strong>

            <span>
                19:00 às 20:30
            </span>

        </div>

    </div>

</section>

{% endblock %}