{% extends "gestao.html" %}
{% load static %}


{% block title %}
AMS Hub - Supervisor
{% endblock %}


{% block menu %}

<ul>

    <li class="active">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
    </li>

    <li>
        <a href="{% url 'empresasgestao' %}">
    
            <i class="fa-solid fa-building"></i>
    
            <span>Empresas</span>
    
        </a>
    </li>
    <li>
        <a href="{% url 'mentoriasgestao' %}">
    
            <i class="fa-solid fa-users"></i>
    
            <span>Mentorias</span>
    
        </a>
    </li>

    <li>
        <a href="{% url 'relatoriosgestao' %}">
    
            <i class="fa-solid fa-chart-line"></i>
    
            <span>Gerenciar Relatórios</span>
    
        </a>
    </li>

    <li>
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Sair</span>
    </li>

</ul>

{% endblock %}


{% block saudacao %}
Olá, {{ nome_usuario }}!
{% endblock %}


{% block descricao %}
Acompanhe empresas, mentorias e os relatórios gerais do programa.
{% endblock %}


{% block perfil %}

<div class="perfil">

    <img src="{% static 'imagens/professor.png.png' %}"
         alt="Supervisor">

    <div>

        <strong>{{ nome_usuario }}</strong>

        <small>Supervisor</small>

    </div>

</div>

{% endblock %}